@import '@styles/abstract/constants';

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // height: 100%;
  // width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: rgba(0, 0, 0, 0.6);
  // transform: scale(0);
}

.modal__wrapper {
  visibility: hidden;
  opacity: 0;
}
.active {
  // transform: scale(1);
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 2rem;
  padding: 2rem;
  background-color: $color-white;
  // width: 100px;
  // height: 100px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: $color-black;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  // opacity: 0.6;
  // opacity: 0;
  // visibility: hidden;
}

// .modal {
//   position: ;
//   top: 0;
//   left:0;
//   height: 100%;
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: rgba(0, 0, 0, 0.6);
//   transform: scale(0);
// }

// .active {
//   transform: scale(1);
// }

// .modal__content {
//   border-radius: 2rem;
//   padding: 2rem;
//   background-color: $color-white;
//   width: 100px;
//   height: 100px;
// }
